<launch>
 
  <include file="$(find manipulation)/launch/realsense.launch">
  </include>

  <!-- Launch the rec_data node -->
  <!-- <node name="data_class_block" pkg="manipulation" type="data_class_block.py" output="screen">
  </node> -->

 <!-- arecord -l will show available input devices, use the car number as
      the first number and the subdevice number as the second in a string
      like hw:1,0 -->
  <include file="$(find audio_capture)/launch/capture.launch">
    <arg name="device" value="hw:2,0"/>
  </include>                                                                                                                                      
  
</launch>